*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

html,body{
    height: 100%;
    width: 100%;
}

#nav{
    height: 145px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px 150px;
    gap: 50px;
    position: fixed;
    z-index: 11;
    
}
#nav img{
    height: 75px;
}
#nav h4{
    text-transform: uppercase;
}

#cursor{
    height: 25px;
    width: 25px;
    position: fixed;
    border-radius: 50%;
    background-color: #95C11E;
    z-index: 99;
    transition: all linear 0.1s;

}

#cursor-blur{
    height: 400px;
    width: 400px;
    position:fixed;
    border-radius: 50%;
    background-color: rgba(150, 193, 30, 0.27);
    z-index: 9;
    filter: blur(70px);
    transition: all linear 0.1s;

}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -2;
}

/* .main{
    
} */
.page1{
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}

.page1 h1{
    font-size: 96px;
    font-weight: 900;
    position: relative;
}
.page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: black;
    top: -7px;
    z-index: -1;
    left: -7px;
    -webkit-text-stroke: 2px #95C11E;
}

.page1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}
.page1 p{
    font-size: 22px;
    font-weight: 500;
    width: 40%;
}

.page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
    /* background-color: red; */
}


#scroller{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;

}

#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation: scroll 25s linear 0s infinite normal ;
}

#scroller::-webkit-scrollbar{
    display: none;
}

#scroller h4:hover{
    color: #95C11E;
}

#scroller h4{
    display: inline-block;
    font-size: 96px;
    font-weight: 900;
    font-family: gilroy;
    margin-right: 10px;
    -webkit-text-stroke: 2px #95C11E;
    color: transparent;
    transition: all linear 0.6s;
}


@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}


#about-us{
    height: 50vh;
    /* width: 100%; */
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    padding: 0px 30px ;
    align-items: center;
    position: relative;
    z-index: 10;

}

#about-us-in{
    width: 40%;
    margin: 0px 20px;
    text-align: center;
}

#about-us-in h3{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

#about-us-in p{
    font-size: 16px;
    /* line-height: 20px; */
}

#about-us img{
    height: 220px;
    width: 220px;
    object-fit: cover;
    border-radius: 20px;
}


#card-cont{
    /* background-color: red; */
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    position: relative;
    z-index: 10;
}

.card{
    height: 70%;
    width: 22%;
    /* background-color: blue; */
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 1s;

    
}

#card1{
    background-image: url("card1.avif");
}

#card2{
    background-image: url(card2.webp);
}

#card3{
    background-image: url(card3.avif);
}


.overlay{
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    /* padding: 30px; */
    /* padding-top: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: all ease 1s;
    
}

.overlay:hover{
    opacity: 1;
}

.overlay h4{
    color: black;
    font-size: 25px;
    font-weight: 800;
    white-space: nowrap;
    margin-bottom: 20px;
    
}
.overlay p{
    color: black;
}

.card:hover{
    transform: rotate3d(1,1,0,20deg);
}

#sign-up{
    height: 30vh;
    background: linear-gradient(180deg, #119f3a, #ace022);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#sign-up img{
    height: 100%;
    /* display: flex; */

    width: 17%;
    object-fit: cover;
}

#sign-up h4{
    font-size: 32px;
    width: 40%;
    text-align: center;
    /* font-weight: 600; */
}

#arrow{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#arrow img{
    height: 70px;
    width: 70px;
    position: relative;
}

#arrow :nth-child(-n +1){
    bottom: 100px;
    position: relative;

}

#arrow :nth-last-child(-n+1){
    top: 100px;
    position: relative;

}

#arrow p{
    text-align: center;
    font-size: 35px;
    width: 50%;
    font-weight: 700;
    background: linear-gradient(180deg,orange,white,green);
    background-clip: text;
    color: transparent;
}

#anime{
    height: 40vh;
    /* background-color: red; */
}

#anime-in{
    display: flex;
    justify-content: space-around;
}
.elem1{
    background-image: url("anime1.avif");
    /* object-fit: contain; */
    background-size: cover;
}

.elem2{
    background-image: url("anime2.avif");
    background-size: cover;
    /* opacity: 0; */
    
}


.elem3{
    background-image: url("anime3.avif");
    background-size: cover;
    /* opacity: 0; */
    /* object-fit: cover;
    overflow: hidden; */
    background-color: #95C11E;
}

.elem{
    height: 20vh;
    width: 25%;
    border-radius: 20px;
    background-color: #95C11E;
    display: flex;
    justify-content: center;
    position: relative;
    /* z-index: 10; */
    align-items: center;
}



#anime h2{
    font-size: 29px;
    opacity: 0;
}

#anime h2:hover{
    
    opacity: 1;
}




#anime h1{
    font-size: 82px;
    font-family: gilroy;
    text-align: center;
    background: linear-gradient(90deg,red,white,green);
    background-clip: text;
    color: transparent;
}


#foot {
    height: 30vh;
    background: linear-gradient(180deg,#119f3a,#95C11E);
    display: flex;
    /* background-image: url("right.svg"); */


}



.img{
    width: 250px;
    object-fit: cover;
    height: 100%;

}

.r1 img{
    height: 150px;
    width: 150px;
    
}

.r1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 11;
    gap: 30px;
}

.r1 h3{
    font-size: 20px;
}

